.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1)
}
.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar:horizontal {
    display: none;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray scrollbar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Slightly lighter on hover */
}
